@model Keyhanatr.Data.Domain.Products.ProductGroup

@{
    ViewData["Title"] = "گروه جدید";
    var navGroups = ViewData["NavGroups"] as SelectList;
}

<h1>ایجاد گروه جدید برای بخش "Nav Bar"</h1>

<h4>گروه اصلی</h4>
<hr />
<div class="row">
    <div class="row">
        <div class="col-md-8">
            <form asp-action="Create" method="post">
                <div class="mb-3 pb-2">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    @if (navGroups.Any())
                    {
                        <div class="form-group">
                            <label for="Product_ProductSubGroupId">گروه ناوبری را انتخاب کنید:</label>
                            <select id="Product_ProductSubGroupId" asp-for="@Model.ProductNavGroupId" class="form-select me-2" asp-items="@(ViewData["NavGroups"] as SelectList)"></select>
                            <span asp-validation-for="ProductNavGroupId" class="text-danger"></span>
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-danger">
                            <p>شما باید حداقل یک آیتم برای گروه ناوبری ایجاد کنید!</p>
                            <p>میتوانید از لینک زیر، جهت ساخت یک گروه ناوبری جدید استفاده کنید:</p>
                            <p class="text-accent text-success"><a href="/Admin/ProductNavGroups/Create">لینک را فشار دهید</a></p>
                        </div>
                        <div class="form-group">
                            
                            <label for="Product_ProductSubGroupId">زیرگروه را انتخاب کنید:</label>
                            <select id="Product_ProductSubGroupId" asp-for="@Model.ProductNavGroupId" class="form-select me-2" asp-items="@(ViewData["NavGroups"] as SelectList)">
                                <option>گروه ناوبری یافت نشد! </option>
                            </select>
                            <span asp-validation-for="ProductNavGroupId" class="text-danger"></span>
                        </div>
                    }
                    <div class="form-group">
                        <button class="btn btn-success d-block w-100" type="submit">  ثبت گروه جدید</button>
                    </div>
                </div>
            </form>
        </div>

        <div>
            <a asp-action="Index">بازگشت به لیست گروه ها</a>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
