@model Keyhanatr.Data.Domain.Products.ProductGroup

@{
    ViewData["Title"] = "جزییات گروه";
}

<h1>جزییات گروه اصلی</h1>

<div class="form-group">
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GroupTitle) :
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GroupTitle)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.GroupId">ویرایش</a> |
    <a asp-action="Index">بازگشت به لیست گروه ها</a>
</div>
