@model Keyhanatr.Data.Domain.Products.ProductSubGroup

@{
    ViewData["Title"] = "Details";
}

<h1>جزییات زیرگروه</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubGroupTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubGroupTitle)
        </dd>
        <dt class="col-sm-2">
            عنوان گروه اصلی
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductGroup.GroupTitle)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SubGroupId">ویرایش</a> |
    <a asp-action="Index">بازگشت به لیست زیرگروه ها</a>
</div>
