@model Keyhanatr.Data.Domain.Products.ProductNavGroup

@{
    ViewData["Title"] = "Delete";
}

<h1>حذف آیتم مورد نظر </h1>

<div class="alert alert-danger"> آیا از حذف <strong><strong>" @Html.DisplayFor(model => model.NavTitle) "</strong></strong> اطمینان دارید؟ </div>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.NavTitle)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.NavTitle)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="NavGroupId" />
        <input type="submit" value="تایید حذف" class="btn btn btn-danger" />
        <div class="form-group"><a asp-action="Index">برگشت به لیست گروه ناوبری </a></div>
    </form>
</div>
