@model Keyhanatr.Data.Domain.Products.ProductNavGroup

@{
    ViewData["Title"] = "ویرایش";
}

<h1>ویرایش</h1>

<h4>آیتم مورد نظر را ویرایش کنید</h4>
<hr />
<div class="container">
    <div class="col-md-8">
        <form asp-action="Edit" enctype="multipart/form-data">
            <input type="hidden" asp-for="NavGroupId" />
            <input type="hidden" asp-for="ImageName" />
            <div class="mb-3 pb-2">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="form-label" asp-for="NavTitle"></label>
                    <input class="form-control" asp-for="NavTitle" />
                    <div class="form-text">حداکثر 100 حرف هیچ L یا شکلک مجاز نیست.</div>
                    <span asp-validation-for="NavTitle" class="text-danger"></span>
                </div>
                <div class="col-sm-12">
                    <label asp-for="BackColor" class="form-label">رنگ پس زمینه</label>
                    <input asp-for="BackColor" class="form-control">
                </div>
                <div class="col-sm-12 mt-5">
                    <label asp-for="ImageName" class="form-label">انتخاب تصویر</label>
                    <input asp-for="ImageName" type="file" name="imgUp" />
                    <img class="img-thumbnail" src="/SliderImages/@Model.ImageName" style="width: 150px" />
                </div>
                <div class="form-group">
                    <button class="btn btn-warning d-block w-100" type="submit"> ویرایش گروه ناوبری</button>
                </div>
            </div>
        </form>
    </div>

    <div>
        <a asp-action="Index">بازگشت به لیست گروه ها</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
