@model IEnumerable<Keyhanatr.Data.Domain.Brand.Brand>

<section class="container bg-danger py-lg-4 mb-4">
    <h2 class="h3 text-center pb-4">با مارک خرید کنید</h2>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-2 col-sm-3 col-4" @*style="height: 200px"*@>
                <a class="d-block bg-white shadow-sm rounded-3 py-3 py-sm-4 mb-grid-gutter" href="/">
                    <img class="d-block mx-auto" src="/BrandImages/@item.ImageName" style="width: 150px; height: 80px" alt="@item.Title">
                </a>
            </div>
        }

    </div>
</section>