<footer class="bg-dark pt-5">
    <div class="container">
        <div class="row pb-2">
            <div class="col-md-4 col-sm-6">
                <div class="widget widget-links widget-light pb-2 mb-4">
                    <h3 class="widget-title text-light">بخشهای فروشگاه</h3>
                    <ul class="widget-list">
                        <li class="widget-list-item"><a class="widget-list-link" href="#">کفش های کتانی و ورزشی</a></li>
                        <li class="widget-list-item"><a class="widget-list-link" href="#">لباس ورزشی</a></li>
                        <li class="widget-list-item"><a class="widget-list-link" href="#">صندل</a></li>
                        <li class="widget-list-item"><a class="widget-list-link" href="#">جین</a></li>
                        <li class="widget-list-item"><a class="widget-list-link" href="#">پیراهن</a></li>
                        <li class="widget-list-item"><a class="widget-list-link" href="#">شلوار</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="widget widget-links widget-light pb-2 mb-4">
                    <h3 class="widget-title text-light">اطلاعات حساب</h3>
                    <ul class="widget-list">
                        <li class="widget-list-item"><a class="widget-list-link" href="#">حساب</a></li>
                        <li class="widget-list-item"><a class="widget-list-link" href="#">نرخ حمل و نقل </a></li>
                        <li class="widget-list-item"><a class="widget-list-link" href="#">بازپرداخت و جایگزینی</a></li>
                        <li class="widget-list-item"><a class="widget-list-link" href="#">رهیگیری سفارش</a></li>
                        <li class="widget-list-item"><a class="widget-list-link" href="#">اطلاعات تحویل</a></li>
                        <li class="widget-list-item"><a class="widget-list-link" href="#">مالیات و هزینه ها</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="widget widget-links widget-light pb-2 mb-4">
                    <h3 class="widget-title text-light">درباره ما</h3>
                    <ul class="widget-list">
                        <li class="widget-list-item"><a class="widget-list-link" href="#">درباره شرکت</a></li>
                        <li class="widget-list-item"><a class="widget-list-link" href="#">تیم ما</a></li>
                        <li class="widget-list-item"><a class="widget-list-link" href="#">مشاغل</a></li>
                        <li class="widget-list-item"><a class="widget-list-link" href="#">اخبار</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="pt-5 bg-darker">
        <div class="container">
            <div class="row pb-3">
                <div class="col-md-3 col-sm-6 mb-4">
                    <div class="d-flex">
                        <i class="ci-rocket text-primary" style="font-size: 2.25rem;"></i>
                        <div class="ps-3">
                            <h6 class="fs-base text-light mb-1">تحویل سریع و رایگان</h6>
                            <p class="mb-0 fs-ms text-light opacity-50">ارسال رایگان برای کلیه سفارش های بالای 200 </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-4">
                    <div class="d-flex">
                        <i class="ci-currency-exchange text-primary" style="font-size: 2.25rem;"></i>
                        <div class="ps-3">
                            <h6 class="fs-base text-light mb-1">تضمین بازگشت پول</h6>
                            <p class="mb-0 fs-ms text-light opacity-50">ما ظرف 30 روز پول برمی گردانیم</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-4">
                    <div class="d-flex">
                        <i class="ci-support text-primary" style="font-size: 2.25rem;"></i>
                        <div class="ps-3">
                            <h6 class="fs-base text-light mb-1">پشتیبانی 24/7 مشتری</h6>
                            <p class="mb-0 fs-ms text-light opacity-50">دوستانه 24/7 پشتیبانی مشتری</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-4">
                    <div class="d-flex">
                        <i class="ci-card text-primary" style="font-size: 2.25rem;"></i>
                        <div class="ps-3">
                            <h6 class="fs-base text-light mb-1">پرداخت آنلاین ایمن</h6>
                            <p class="mb-0 fs-ms text-light opacity-50">ما دارای گواهی هستیم</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="hr-light mb-5">
            <div class="row pb-2">
                <div class="pb-4 fs-xs text-light opacity-50 text-center text-md-start col-md-6 ">
                    ©کلیه حقوق مادی و معنوی سایت متعلق به وبسایت کیهان عطر می باشد
                </div>
                <div class="col-md-6 text-end text-md-end mb-4">
                    <div class="mb-3">
                        <a class="btn-social bs-light bs-twitter ms-2 mb-2" href="#"><i class="ci-twitter"></i></a>
                        <a class="btn-social bs-light bs-facebook ms-2 mb-2" href="#"><i class="ci-facebook"></i></a>
                        <a class="btn-social bs-light bs-instagram ms-2 mb-2" href="#"><i class="ci-instagram"></i></a>
                        <a class="btn-social bs-light bs-pinterest ms-2 mb-2" href="#"><i class="ci-pinterest"></i></a>
                        <a class="btn-social bs-light bs-youtube ms-2 mb-2" href="#"><i class="ci-youtube"></i></a>
                    </div>
                    @*<img class="d-inline-block" src="img/cards-alt.png" width="187" alt="روش های پرداخت">*@
                </div>
            </div>
            <hr class="hr-light mb-5">
            <div class="pb-4 fs-xs text-light opacity-50 text-center text-md-center col-md-12 ">
                طراحی و برنامه نویسی توسط
                <a class="text-light" href="" target="_blank" rel="noopener"> رضا توکلی</a>
                و
                <a class="text-light" href="" target="_blank" rel="noopener"> حسین دارا</a>
            </div>

        </div>
    </div>
</footer>