
<section class="container-fluid px-0">
    <div class="row g-0">
        <div class="col-md-6">
            <a class="card border-0 rounded-0 text-decoration-none py-md-4 bg-faded-danger" href="https://www.instagram.com/keyhanatr/" target="_blank">
                <div class="card-body text-center">
                    <i class="ci-instagram h3 mt-2 mb-4 text-accent"></i>
                    <h3 class="h5 mb-1">در اینستاگرام دنبال کنید</h3>
                    <p class="text-muted fs-sm">فروشگاه اینترنتی کیهان عطر</p>
                </div>
            </a>
        </div>
        <div class="col-md-6 bg-faded-accent">
            <a referrerpolicy="origin" target="_blank" href="https://trustseal.enamad.ir/?id=238263&amp;Code=NkmHOAerQErqtCtmnSid">
                <div class="card-body text-center mt-2">
                    <img referrerpolicy="origin" src="https://Trustseal.eNamad.ir/logo.aspx?id=238263&amp;Code=NkmHOAerQErqtCtmnSid" alt="" style="cursor:pointer" id="NkmHOAerQErqtCtmnSid">
                    <p class="text-muted fs-sm"> دارای نماد اعتماد الكترونیكی</p>
                </div>
            </a>
        </div>
    </div>
</section>
<footer class="bg-dark pt-5">
    <div class="container">
        <div class="row pb-2">
            <div class="col-md-3 col-sm-6">
                <div class="widget widget-links widget-light pb-2 mb-4">
                    <h3 class="widget-title text-light"> بخش های فروشگاه کیهان عطر</h3>
                    <ul class="widget-list">
                        @await Component.InvokeAsync("NavGroup")
                    </ul>
                </div>
            </div>
            <div class="col-md-5 col-sm-6">
                <div class="widget widget-links widget-light pb-2 mb-4">
                    <h3 class="widget-title text-light">درباره کیهان عطر</h3>
                    <p class="text-light opacity-50 text-justify">
                        فروشگاه اینترنتی کیهان عطر فعال در زمینه عرضه انواع محصولات لوازم آرایشی و بهداشتی و حوزه سلامت پوست و بدن می باشد. همچنین این مرکز عرضه کننده بهترین و معتبرترین
                        عطر و ادکلن با انواع رایحه و برندهای خاص و جهانی می باشد.
                        کیهان عطر دارای نماد اعتماد الکترونیکی و دارای جواز کسب از سازمان های تجارت الکترونیک می باشد.
                        در فروشگاه آنلاین ما خریدی معتبر انجام دهید و از محصولات با کیفیت این فروشگاه بهره مند گردید.
                    </p>
                    @*<ul class="widget-list">
                        <li class="widget-list-item"><a class="widget-list-link" href="#">حساب</a></li>
                        <li class="widget-list-item"><a class="widget-list-link" href="#">نرخ حمل و نقل </a></li>
                        <li class="widget-list-item"><a class="widget-list-link" href="#">بازپرداخت و جایگزینی</a></li>
                        <li class="widget-list-item"><a class="widget-list-link" href="#">رهیگیری سفارش</a></li>
                        <li class="widget-list-item"><a class="widget-list-link" href="#">اطلاعات تحویل</a></li>
                        <li class="widget-list-item"><a class="widget-list-link" href="#">مالیات و هزینه ها</a></li>
                    </ul>*@
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="widget widget-links widget-light pb-2 mb-4">
                    <h3 class="widget-title text-light">تماس با کیهان عطر</h3>
                    <ul class="widget-list">
                        <li class="widget-list-item"><a class="widget-list-link" href="tel:09127894496">شماره همراه : 09127894496 </a></li>
                        <li class="widget-list-item"><a class="widget-list-link" href="tel:02833692893">شماره تلفن ثابت : 02833692893 </a></li>
                        <li class="widget-list-item"><a class="widget-list-link" href="https://www.instagram.com/keyhanatr/" target="_blank">آدرس صفحه اینستاگرام : keyhanatr </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="pt-5 bg-darker">
        <div class="container">
            @*<div class="row pb-3">
            <div class="col-md-3 col-sm-6 mb-4">
                <div class="d-flex">
                    <i class="ci-rocket text-primary" style="font-size: 2.25rem;"></i>
                    <div class="ps-3">
                        <h6 class="fs-base text-light mb-1">تحویل سریع</h6>
                        <p class="mb-0 fs-ms text-light opacity-50">ارسال به تمام نقاط کشور </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-4">
                <div class="d-flex">
                    <i class="ci-currency-exchange text-primary" style="font-size: 2.25rem;"></i>
                    <div class="ps-3">
                        <h6 class="fs-base text-light mb-1">تضمین بازگشت پول</h6>
                        <p class="mb-0 fs-ms text-light opacity-50">ما ظرف 30 روز پول برمی گردانیم</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-4">
                <div class="d-flex">
                    <i class="ci-support text-primary" style="font-size: 2.25rem;"></i>
                    <div class="ps-3">
                        <h6 class="fs-base text-light mb-1">پشتیبانی 24/7 مشتری</h6>
                        <p class="mb-0 fs-ms text-light opacity-50">دوستانه 24/7 پشتیبانی مشتری</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-4">
                <div class="d-flex">
                    <i class="ci-card text-primary" style="font-size: 2.25rem;"></i>
                    <div class="ps-3">
                        <h6 class="fs-base text-light mb-1">پرداخت آنلاین ایمن</h6>
                        <p class="mb-0 fs-ms text-light opacity-50">ما دارای گواهی هستیم</p>
                    </div>
                </div>
            </div>
        </div>*@
            @*<hr class="hr-light mb-5">*@
            <div class="row ">
                <div class="pb-4 fs-xs text-light opacity-50 text-center text-md-center col-md-12">
                    © .کلیه حقوق مادی و معنوی سایت متعلق به وبسایت "کیهان عطر" می باشد
                </div>
                <!--<div class="col-md-6 text-end text-md-end mb-4">
            <div class="mb-3">
                <a class="btn-social bs-light bs-twitter ms-2 mb-2" href="#"><i class="ci-twitter"></i></a>
                <a class="btn-social bs-light bs-facebook ms-2 mb-2" href="#"><i class="ci-facebook"></i></a>
                <a class="btn-social bs-light bs-instagram ms-2 mb-2" href="#"><i class="ci-instagram"></i></a>
                <a class="btn-social bs-light bs-pinterest ms-2 mb-2" href="#"><i class="ci-pinterest"></i></a>
                <a class="btn-social bs-light bs-youtube ms-2 mb-2" href="#"><i class="ci-youtube"></i></a>
            </div>-->
                @*<img class="d-inline-block" src="img/cards-alt.png" width="187" alt="روش های پرداخت">*@
                <!--</div>-->
            </div>
            
            <hr class="hr-light mb-3">
            <div class="pb-4 fs-xs text-light opacity-50 text-center text-md-center col-md-12 ">
                طراحی و برنامه نویسی توسط
                <a class="text-light" href="https://engrezatavakoli.ir" target="_blank" rel="noopener"> "رضا توکلی" </a>
                و
                <a class="text-light" href="/" target="_blank" rel="noopener"> "حسین دارا" </a>
            </div>

        </div>
    </div>
</footer>