<div class="modal fade" id="signin-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-secondary">
                <ul class="nav nav-tabs card-header-tabs" role="tablist">
                    <partial name="_LoggedIn" />
                </ul>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body tab-content py-4">
                <form class="needs-validation tab-pane fade show active" autocomplete="off" novalidate id="signin-tab">
                    <div class="mb-3">
                        <label class="form-label" for="si-email">آدرس ایمیل</label>
                        <input class="form-control" type="email" id="si-email" placeholder="Setin@gmail.com" required>
                        <div class="invalid-feedback">لطفا آدر س ایمیل را وارد کنید</div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="si-password">پسورد</label>
                        <div class="password-toggle">
                            <input class="form-control" type="password" id="si-password" required>
                            <label class="password-toggle-btn" aria-label="نمایش/پنهان کردن">
                                <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                            </label>
                        </div>
                    </div>
                    <div class="mb-3 d-flex flex-wrap justify-content-between">
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" id="si-remember">
                            <label class="form-check-label" for="si-remember">مرا به خاطر بسپار</label>
                        </div><a class="fs-sm" href="#">فراموشی رمز؟</a>
                    </div>
                    <button class="btn btn-primary btn-shadow d-block w-100" type="submit">ورود</button>
                </form>
                <form class="needs-validation tab-pane fade" autocomplete="off" novalidate id="signup-tab">
                    <div class="mb-3">
                        <label class="form-label" for="su-name">نام</label>
                        <input class="form-control" type="text" id="su-name" placeholder="ستین" required>
                        <div class="invalid-feedback">لطفا نام را وارد کنید</div>
                    </div>
                    <div class="mb-3">
                        <label for="su-email">آدرس ایمیل</label>
                        <input class="form-control" type="email" id="su-email" placeholder="Setin@gmail.com" required>
                        <div class="invalid-feedback">لطفا آدر س ایمیل را وارد کنید</div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="su-password">پسورد</label>
                        <div class="password-toggle">
                            <input class="form-control" type="password" id="su-password" required>
                            <label class="password-toggle-btn" aria-label="نمایش/پنهان کردن">
                                <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                            </label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="su-password-confirm">تکرار پسورد</label>
                        <div class="password-toggle">
                            <input class="form-control" type="password" id="su-password-confirm" required>
                            <label class="password-toggle-btn" aria-label="نمایش/پنهان کردن">
                                <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                            </label>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-shadow d-block w-100" type="submit">ثبت نام</button>
                </form>
            </div>
        </div>
    </div>
</div>