
<li class="nav-item">
    <a asp-controller="Account" asp-action="Login"  class="nav-link fw-medium">
    <i class="ci-unlocked me-2 mt-n1"></i>ورود</a>
</li>

<li class="nav-item">
    <a asp-controller="Account" asp-action="Register" class="nav-link fw-medium">
    <i class="ci-user me-2 mt-n1"></i>ثبت نام</a>
</li>