@model Keyhanatr.Core.DTOs.Products.GroupsProductsViewModel


        <div class="dropdown-menu px-2 pb-4">
            <div class="d-flex flex-wrap flex-sm-nowrap">
                @foreach (var navgroup in Model.productNavGroups)
                {
                    <div class="mega-dropdown-column pt-3 pt-sm-4 px-2 px-lg-3 ">
                        <div class="widget widget-links">
                            <a class="d-block overflow-hidden rounded-3 mb-3" href="/NavGroup/@navgroup.NavGroupId/@navgroup.NavTitle" style="background-color:@navgroup.BackColor;height: 120px;"><img src="/NavGroupImages/@navgroup.ImageName" title="@navgroup.NavTitle" alt="@navgroup.NavTitle"></a>
                            <h6 class="fs-base mb-2"><a class="widget-list-link" href="/NavGroup/@navgroup.NavGroupId/@navgroup.NavTitle">@navgroup.NavTitle</a></h6>
                        </div>
                    </div>
                }
            </div>
        </div>
  

