@using Keyhanatr.Core.Interfaces.Products
@{
    @inject IProductServices _productServices;
    var navGroups = _productServices.GetAllNavGroups();

}
<header class="shadow-sm">
    <!-- Topbar-->
    <div class="topbar topbar-dark bg-dark">
        <div class="container">
            <div class="topbar-text dropdown d-md-none">
                <a class="topbar-link dropdown-toggle" href="#" data-bs-toggle="dropdown">لینک ها</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="tel:00331697720"><i class="ci-support text-muted me-2"></i>09127894496</a></li>
                    <li><a class="dropdown-item" href="order-tracking.html"><i class="ci-location text-muted me-2"></i>رهیگیری سفارش</a></li>
                </ul>
            </div>
            <div class="topbar-text text-nowrap d-none d-md-inline-block"><i class="ci-support"></i><span class="text-muted me-1">پشتیبانی</span><a class="topbar-link" href="tel:00331697720">09127894496</a></div>
            <div class="tns-carousel tns-controls-static d-none d-md-block">
                <div class="tns-carousel-inner" data-carousel-options="{&quot;mode&quot;: &quot;gallery&quot;, &quot;nav&quot;: false}">
                    <div class="topbar-text">به فروشگاه اینترنتی کیهان عطر خوش آمدید</div>
                    <div class="topbar-text">ما محصولات با کیفیت و با برند معتبر ارائه می دهیم</div>
                    <div class="topbar-text">ارسال کالا به همه نقاط کشور در کمترین زمان</div>
                </div>
            </div>
            <div class="ms-3 text-nowrap">
                <a class="topbar-link me-4 d-none d-md-inline-block" href="order-tracking.html"><i class="ci-location"></i>رهیگیری سفارش</a>
                <div class="topbar-text dropdown disable-autohide">
                    <a class="topbar-link dropdown-toggle" href="#" data-bs-toggle="dropdown"><img class="me-2" src="/img/flags/en.png" width="20" alt="English">انگلیسی</a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li class="dropdown-item">
                            <select class="form-select form-select-sm">
                                <option value="usd">دلار</option>
                                <option value="eur">تومان</option>
                                <option value="ukp">یورو</option>
                                <option value="jpy">پوند</option>
                            </select>
                        </li>
                        <li><a class="dropdown-item pb-1" href="#"><img class="me-2" src="/img/flags/fr.png" width="20" alt="فرانسه">فرانسه</a></li>
                        <li><a class="dropdown-item pb-1" href="#"><img class="me-2" src="/img/flags/de.png" width="20" alt="آلمان">آلمان</a></li>
                        <li><a class="dropdown-item" href="#"><img class="me-2" src="/img/flags/it.png" width="20" alt="ایتالیا">ایتالیا</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!--modal login-->
    <!-- Remove "navbar-sticky" class to make navigation bar scrollable with the page.-->
    <div class="navbar-sticky bg-light">
        <div class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand d-none d-sm-block flex-shrink-0" href="index.html"><img src="/img/logo-dark.png" width="142" alt="Cartzilla"></a><a class="navbar-brand d-sm-none flex-shrink-0 me-2" href="index.html"><img src="/img/logo-icon.png" width="74" alt="Cartzilla"></a>
                <div class="input-group d-none d-lg-flex mx-4">
                    <input class="form-control rounded-end pe-5" type="text" placeholder="جستجو برای محصول"><i class="ci-search position-absolute top-50 end-0 translate-middle-y text-muted fs-base me-3"></i>
                </div>
                <div class="navbar-toolbar d-flex flex-shrink-0 align-items-center">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"><span class="navbar-toggler-icon"></span></button><a class="navbar-tool navbar-stuck-toggler" href="#">
                        <span class="navbar-tool-tooltip">منو</span>
                        <div class="navbar-tool-icon-box"><i class="navbar-tool-icon ci-menu"></i></div>
                    </a>
                    @*<a class="navbar-tool d-none d-lg-flex" href="account-wishlist.html">
                            <span class="navbar-tool-tooltip">علاقه مندی</span>
                            <div class="navbar-tool-icon-box"><i class="navbar-tool-icon ci-heart"></i></div>
                        </a>*@
                    <a class="navbar-tool ms-1 ms-lg-0 me-n1 me-lg-2" href="#" data-bs-toggle="modal">
                        <div class="navbar-tool-text ms-n3">
                            <ul class="navbar-nav">
                                <partial name="_LoggedIn" />
                            </ul>
                        </div>
                    </a>
                    <div class="navbar-tool dropdown ms-3">
                        <a class="navbar-tool-icon-box bg-secondary dropdown-toggle" href="shop-cart.html"><span class="navbar-tool-label">4</span><i class="navbar-tool-icon ci-cart"></i></a><a class="navbar-tool-text" href="shop-cart.html"><small>سبدخرید</small>25600</a>
                        <!-- Cart dropdown-->
                        <div class="dropdown-menu dropdown-menu-end">
                            <div class="widget widget-cart px-3 pt-2 pb-3" style="width: 20rem;">
                                <div style="height: 15rem;" data-simplebar data-simplebar-auto-hide="false">
                                    <div class="widget-cart-item pb-2 border-bottom">
                                        <button class="btn-close text-danger" type="button" aria-label="Remove"><span aria-hidden="true">&times;</span></button>
                                        <div class="d-flex align-items-center">
                                            <a class="flex-shrink-0" href="shop-single-v1.html"><img src="/img/shop/cart/widget/01.jpg" width="64" alt="Product"></a>
                                            <div class="ps-2">
                                                <h6 class="widget-product-title"><a href="shop-single-v1.html">کفش کتانی</a></h6>
                                                <div class="widget-product-meta"><span class="text-accent me-2">150<small>00</small></span><span class="text-muted">x 1</span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="widget-cart-item py-2 border-bottom">
                                        <button class="btn-close text-danger" type="button" aria-label="Remove"><span aria-hidden="true">&times;</span></button>
                                        <div class="d-flex align-items-center">
                                            <a class="flex-shrink-0" href="shop-single-v1.html"><img src="/img/shop/cart/widget/02.jpg" width="64" alt="Product"></a>
                                            <div class="ps-2">
                                                <h6 class="widget-product-title"><a href="shop-single-v1.html">کفش کتانی</a></h6>
                                                <div class="widget-product-meta"><span class="text-accent me-2">25<small>50</small></span><span class="text-muted">x 1</span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="widget-cart-item py-2 border-bottom">
                                        <button class="btn-close text-danger" type="button" aria-label="Remove"><span aria-hidden="true">&times;</span></button>
                                        <div class="d-flex align-items-center">
                                            <a class="flex-shrink-0" href="shop-single-v1.html"><img src="/img/shop/cart/widget/03.jpg" width="64" alt="Product"></a>
                                            <div class="ps-2">
                                                <h6 class="widget-product-title"><a href="shop-single-v1.html">کفش کتانی</a></h6>
                                                <div class="widget-product-meta"><span class="text-accent me-2">22<small>50</small></span><span class="text-muted">x 1</span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="widget-cart-item py-2 border-bottom">
                                        <button class="btn-close text-danger" type="button" aria-label="Remove"><span aria-hidden="true">&times;</span></button>
                                        <div class="d-flex align-items-center">
                                            <a class="flex-shrink-0" href="shop-single-v1.html"><img src="/img/shop/cart/widget/04.jpg" width="64" alt="Product"></a>
                                            <div class="ps-2">
                                                <h6 class="widget-product-title"><a href="shop-single-v1.html">کفش کتانی</a></h6>
                                                <div class="widget-product-meta"><span class="text-accent me-2">90<small>00</small></span><span class="text-muted">x 1</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex flex-wrap justify-content-between align-items-center py-3">
                                    <div class="fs-sm me-2 py-2"><span class="text-muted">جمع کل:</span><span class="text-accent fs-base ms-1">2560<small>00</small></span></div><a class="btn btn-outline-secondary btn-sm" href="shop-cart.html">ادامه خرید<i class="ci-arrow-left  ms-1 me-n1"></i></a>
                                </div><a class="btn btn-primary btn-sm d-block w-100" href="checkout-details.html"><i class="ci-card me-2 fs-base align-middle"></i>بررسی</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-expand-lg navbar-light navbar-stuck-menu mt-n2 pt-0 pb-2">
            <div class="container">
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <!-- Search-->
                    <div class="input-group d-lg-none my-3">
                        <i class="ci-search position-absolute top-50 start-0 translate-middle-y text-muted fs-base ms-3"></i>
                        <input class="form-control rounded-start" type="text" placeholder="جستجو برای محصول">
                    </div>

                    <!-- Departments menu-->
                    <ul class="navbar-nav navbar-mega-nav pe-lg-2 me-lg-2">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle ps-lg-0" href="#" data-bs-toggle="dropdown"><i class="ci-view-grid me-2"></i>بخش ها</a>

                        </li>
                    </ul>
                    <!-- Primary menu-->

                    <ul class="navbar-nav " style="width:100%">

                        @foreach (var nav in navGroups)
                        {

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">@nav.NavTitle</a> @*NavGroup  TODO NavId*@

                                @if (nav.ProductGroups.Any())
                                {
                                    <ul class="dropdown-menu">
                                        @foreach (var group in nav.ProductGroups)
                                        {

                                            <li class="dropdown">
                                                <a class="dropdown-item @((group.ProductSubGroups.Any())?"dropdown-toggle":"")" href="#" data-bs-toggle="dropdown">@group.GroupTitle</a> @*Group TODO GroupId*@
                                                @if (group.ProductSubGroups.Any())
                                                {
                                                    <ul class="dropdown-menu">
                                                        @foreach (var sub in group.ProductSubGroups)
                                                        {
                                                            <li><a class="dropdown-item" href="account-orders.html">@sub.SubGroupTitle</a></li>
                                                        }
                                                    </ul>
                                                }
                                            </li>
                                        }
                                    </ul>
                                }

                            </li>
                        }
                    </ul>


                </div>
            </div>
        </div>
    </div>
</header>