
@model IEnumerable<Keyhanatr.Data.Domain.Products.Product>

<div class="container">
    <section class="container bg-secondary pt-md-3 pb-5 mb-md-3">
        <h2 class="h3 text-center">جدیدترین محصولات ما</h2>
        <div class="row  pt-4 mx-n2" style=" background-color: #FFDEDE">
            <!-- Product-->
            @foreach (var item in Model)
            {
                <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-4">
                    <div class="card product-card">
                        <partial name="_BoxProduct" model="@item" />
                        <hr class="d-sm-none">
                    </div>
                </div>
            }
        </div>
        <div class="text-center pt-3"><a class="btn btn-outline-accent" href="shop-grid-ls.html">محصولات بیشتر<i class="ci-arrow-left ms-1"></i></a></div>
    </section>
</div>