
@{
    ViewData["Title"] = "بازنشانی رمز عبور";
}
<div class="container py-4 py-lg-5 my-4">
    <div class="row">
        <div class="col-md-6 offset-md-3 offset-lg-3">
            <div class="card border-0 shadow">
                <div class="card-body">
                    <h2 class="h4 mb-1" style="text-align:center;">بازنشانی کلمه عبور</h2>
                    <br />
                    <hr />
                    <br />
                    <div class="alert alert-success mb-4" style="text-align:center;">
                        کاربر عزیز بازنشانی کلمه عبور شما با موفقیت انجام شد، از طریق
                        <a asp-action="Login"> ورود به سایت </a>
                         وارد شوید.
                    </div>
                   
                    <hr />
                    <br />
                    <div class="row gx-4 gy-3">
                        <div class="col-12 text-end">
                            <a class="btn btn-secondary" href="/"><i class="ci-home me-2 ms-n1"></i>صفحه اصلی</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

