@model Keyhanatr.Data.ViewModel.Pay.VerifyResultData
<div class="alert alert-success">
    <h2>عملیات با موفقیت انجام شد</h2>
    <p>@Model.Status - @Model.Status</p>
    <p>شماره پیگیری :@Model.Token </p>
    @*<p>شماره مرجع :@Model.SystemTraceNo </p>*@
</div>