@model Keyhanatr.Data.Domain.User.Address

@{
    ViewData["Title"] = "ویرایش آدرس";
    Layout = "~/Areas/UserPanel/Views/Shared/_UserPanelLayout.cshtml";
}

<div class="d-none d-lg-flex justify-content-between align-items-center pt-lg-3 pb-4 pb-lg-5 mb-lg-3">
    <h6 class="fs-base text-light mb-0">آدرس  خود را می توانید از این قسمت ویرایش کنید : </h6><a class="btn btn-primary btn-sm" asp-action="Logout"><i class="ci-sign-out me-2"></i>خروج</a>
</div>
<form asp-action="Edit" class="needs-validation" method="post">
    <input type="hidden" asp-for="AddressID" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="UserId" name="UserId" value="@ViewBag.userId" />

    <div class="bg-secondary rounded-3 p-4 mb-4">
        <div class="d-flex align-items-center">
            <img class="rounded" src="img/shop/account/avatar.jpg" width="90" alt="تصویر @User.Identity.Name">
            <div class="ps-3">
                <label class="form-label">نام کاربری </label>
                <input class="form-control" type="text" value="@User.Identity.Name" disabled>
            </div>
        </div>
    </div>
    <div class="row gx-4 gy-3">
        <div class="col-sm-6">
            <label asp-for="Name" class="form-label">نام </label>
            <input asp-for="Name" class="form-control" type="text">
        </div>
        <div class="col-sm-6">
            <label asp-for="Family" class="form-label">نام خانوادگی</label>
            <input asp-for="Family" class="form-control" type="text">
        </div>
        <div class="col-sm-6">
            <label asp-for="Company" class="form-label">نام شرکت </label>
            <input asp-for="Company" class="form-control" type="text" placeholder="اختیاری">
        </div>
        <div class="col-sm-6">
            <label asp-for="Ostan" class="form-label"> استان</label>
            <input asp-for="Ostan" class="form-control" type="text" required>
        </div>
        <div class="col-sm-6">
            <label asp-for="Shahr" class="form-label"> شهر</label>
            <input asp-for="Shahr" class="form-control" type="text" required>
        </div>
        <div class="col-sm-6">
            <label asp-for="Adress" class="form-label"> آدرس</label>
            <input asp-for="Adress" class="form-control" type="text" required>
        </div>
        <div class="col-sm-6">
            <label asp-for="CodePosti" class="form-label">کد پستی بدون خط فاصله</label>
            <input asp-for="CodePosti" class="form-control" type="text" required>
        </div>
        <div class="col-sm-6">
            <label asp-for="Mobile" class="form-label"> شماره همراه</label>
            <input asp-for="Mobile" class="form-control" type="text" required>
        </div>
        <div class="col-12">
            <hr class="mt-2 mb-3">
            <div class="d-flex flex-wrap justify-content-between align-items-center">
                <div>
                    <a asp-action="Index">بازگشت به لیست</a>
                </div>
                <button class="btn btn-primary mt-3 mt-sm-0" type="submit">ثبت آدرس</button>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



@*<div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="AddressID" />
                <div class="form-group">
                    <label asp-for="UserId" class="control-label"></label>
                    <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                    <span asp-validation-for="UserId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Family" class="control-label"></label>
                    <input asp-for="Family" class="form-control" />
                    <span asp-validation-for="Family" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Company" class="control-label"></label>
                    <input asp-for="Company" class="form-control" />
                    <span asp-validation-for="Company" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Ostan" class="control-label"></label>
                    <input asp-for="Ostan" class="form-control" />
                    <span asp-validation-for="Ostan" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Shahr" class="control-label"></label>
                    <input asp-for="Shahr" class="form-control" />
                    <span asp-validation-for="Shahr" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Adress" class="control-label"></label>
                    <input asp-for="Adress" class="form-control" />
                    <span asp-validation-for="Adress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CodePosti" class="control-label"></label>
                    <input asp-for="CodePosti" class="form-control" />
                    <span asp-validation-for="CodePosti" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Mobile" class="control-label"></label>
                    <input asp-for="Mobile" class="form-control" />
                    <span asp-validation-for="Mobile" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>*@



