
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "ShowOrder";
}

<!-- Page Title-->
<div class="page-title-overlap bg-dark pt-4">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
        <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
                    <li class="breadcrumb-item"><a class="text-nowrap" href="index.html"><i class="ci-home"></i>خانه</a></li>
                    <li class="breadcrumb-item text-nowrap">
                        <a href="shop-grid-ls.html">فروشگاه</a>
                    </li>
                    <li class="breadcrumb-item text-nowrap active" aria-current="page">سبد خرید</li>
                </ol>
            </nav>
        </div>
        <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
            <h1 class="h3 text-light mb-0">سبدخرید شما</h1>
        </div>
    </div>
</div>
<div class="container pb-5 mb-2 mb-md-4" id="showOrder">
    
</div>

@section Scripts
{
    <script>
        function LoadOrder() {
            $("#showOrder").load("/ShoppingCart/Order");
        }

        $(function () {
            LoadOrder();
        });

        function DeleteOrder(id) {
            $.get("/ShoppingCart/DeleteOrder/" + id,
                function () {
                    LoadOrder();
                    ShowCart();
                });
        }

        function ChangeOrder(id, count) {
            $.get("/ShoppingCart/ChangeOrder/" + id + "?count=" + count,
                function () {
                    LoadOrder();
                    ShowCart();
                });
        }
    </script>
}