@model Keyhanatr.Data.Domain.Products.ProductColor

    <div class="fs-sm mb-4"><span class="text-heading fw-medium me-1">رنگ:</span><span class="text-muted" id="colorValue">@Model.ColorName</span></div>
    <div class="fs-sm mb-4"><span class="text-heading fw-medium me-1">کدرنگ:</span><span class="text-muted"  id="colorCode">@Model.ColorCode</span></div>
    <div class="fs-sm mb-4"><span class="text-heading fw-medium me-1">موجودی :</span><span class="text-muted"  id="colorCode">@Model.ProductExist</span></div>

