@model IEnumerable<Keyhanatr.Data.Domain.Products.ProductFeature>
@{
    ViewData["Title"] = "لیست ویژگی ها";
}

<h4>لیست ویژگی ها</h4>
<p>
    <a asp-action="Create" class="btn btn-primary">افزودن ویژگی جدید</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FeatureTitle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FeatureTitle)
                </td>
                <td>
                    <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.FeatureId">ویرایش</a>
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.FeatureId">حذف</a>
                </td>
            </tr>
        }
    </tbody>
</table>

